@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

.body {
    background-color: #FFF9F3;
}

.left ul {
    float: left;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

.left li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.left li a{
    color: #f4a261;
    font-size: 16px;
    font: "Roboto Condensed", sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
}

.signin_container {
    background-color: white;
    border-style: dotted;
    border-color: black;
    border-width: 2px;
    margin-left: 65px;
    width: 598px;
    height: 650px;
    position: relative;
    border-radius: 15px;
    font-family: "Roboto Condensed";
}

.signin_container h1{
    font-family: "Dokdo";
    font-size: 64px;
    text-align: center;
}

.signin_container p {
    margin-left: 20px;
}

.signin_container h2 {
    margin-left: 20px;
}

.signin_container h3 {
    margin-left: 20px;
}

::placeholder{
    color: grey
}
.email {
    margin-left: 20px;
    width: 560px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #FFF9f3;
}

button {
    background-color: #f4a261;
    color: white;
    margin-top: 25px;
    display: inline-block;
    align-content: center;
    margin-left: auto;
    width: 400px;
    height: 50px;
    border-radius: 15px;
}
