@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

.signup {
    position: relative;
    top: 50%;
    align-content: center;
    text-align: center;
    margin: auto;
    width: 598px;
    height: 750px;
    padding: 20px;
    background-color: white;
    border-style: dotted;
    border-color: black;
}

.signup h1 {
    font-family: 'Dokdo';
    font-size: 60px;
}

.signup h3{
    text-align: left;
}

.signup_info {
    width: 550px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #FFF9f3;
    font-size: 12px;
}

form h3 {
    font-family: "Roboto Condensed";
    margin-left: 20px;
}