<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel = "stylesheet" href = "signup.css">
    <link rel = "stylesheet" href = "style.css">
    <link rel = "stylesheet" href = "signin.css">
</head>
<body>
    <div class = "nav_bar">
        <div class = "left">
            <ul>
                <li><a>SignIn</a></li>
                <li><a>Register</a></li>
            </ul>
        </div>
        <div class = "right">
            <ul>
                <li><a>Home</a></li>
                <li><a>About</a></li>
                <li><a>Our Team</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
    </div>
    <div class = signup>
        <h1>Cornucopia</h1>
        <h2>Sign Up</h2>
        <form>
            <h3>Name</h3>
            <input type = 'text' class = 'signup_info'>
            <h3>Email</h3>
            <input type = 'text' class = 'signup_info'>
            <h3>Password</h3>
            <input type = 'text' class = 'signup_info'>
            <h3>Confirm Passowrd</h3>
            <input type = 'text' class = 'signup_info'>
            <button type = "submit">Sign Up</button>
        </form>
    </div> 
</body>
</html>